<div class="chatbot">
  <div [style.display]="!formVisible ? 'block' : 'none'" class="chatbot-icon" (click)="openForm()">
    <span>
      <img
        src="https://img.freepik.com/premium-vector/robot-icon-bot-sign-design-chatbot-symbol-concept-voice-support-service-bot-online-support-bot-vector-stock-illustration_100456-34.jpg"
        width="50px" height="50px" alt="">
    </span>
  </div>
  <div class="form-popup" [style.display]="formVisible ? 'block' : 'none'">
    <form (ngSubmit)="submitForm(chatForm)" #chatForm="ngForm" class="form-container">
      <div class="chat-text-box">
        <div *ngFor="let items of chatdata">
          <div class="text-container" contenteditable="true">
            <span class="shadow-lg rounded text-dark"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;background-color: #DCBFFF;">
            <span  class="bg-dark text-white rounded mx-2">You</span> : {{items.question}}<br></span>
          <span class="shadow-lg rounded text-dark"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #B4B4B3;"><span
              class="bg-success text-white rounded mx-2">Bot</span> : {{items.answer}}<br></span>
          </div>
        </div>
      </div>

      <input class="input-chat" type="text" placeholder="Enter your message" [(ngModel)]="userQuestion" name="message">
      <button type="submit" class="send-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button type="button" class="btn cancel" (click)="closeForm()">
        <span class="cancel-chat"><i class="fa-solid fa-xmark"></i></span>
      </button>
    </form>
  </div>
</div>