<div class="chatbot">
    <div class="chatbot-icon" (click)="openForm()">
        <span><a href="" title="Chata with me"><i class="fa-brands fa-bots"></i></a></span>
        <!-- <span>chat bot</span> -->
    </div>
    <div class="form-popup" [style.display]="formVisible ? 'block' : 'none'">
        <form (ngSubmit)="submitForm()" class="form-container">
          <h1>Login</h1>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit" class="btn">Login</button>
          <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
        </form>
      </div>
</div>