.banner-image{
    background-image:url("https://wallpapercave.com/wp/wp2482998.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 600px;
}

.banner-quote{
    color: bisque;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
}

.clicks a{
    margin: 110px;
    color:aqua;
    text-decoration: none;
}