<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="height: 700px;" class="carousel-img" src="https://c4.wallpaperflare.com/wallpaper/206/268/839/pose-muscle-muscle-rod-press-hd-wallpaper-preview.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img style="height: 700px;" class="carousel-img" src="https://wallpapers.com/images/hd/exercise-fitness-quotes-rj9vo98rkjhjbnao.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img style="height: 700px;" class="carousel-img" src="https://images4.alphacoders.com/112/1128335.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div> -->



<!-- <section class="home">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="home-quote">
                    <span class="home-quote-1">
                        Get ready
                    </span>
                    <br>
                     <span class="home-quote-2">
                        To burn
                     </span>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- 
<div class="banner">
    <app-navbar></app-navbar>
</div>


<div style="height: 1000px">
        <h2 class="myH2">What is this ?</h2>
        <p class="myP">This is a responsive fixed navbar animated on scroll</p>
        <p class="myP">I took inspiration from  ABDO STEIF (<a href="https://codepen.io/abdosteif/pen/bRoyMb?editors=1100">https://codepen.io/abdosteif/pen/bRoyMb?editors=1100</a>)
        and Dicson <a href="https://codepen.io/dicson/pen/waKPgQ">(https://codepen.io/dicson/pen/waKPgQ)</a></p>
        <p class="myP">I HOPE YOU FIND THIS USEFULL</p>
        <p class="myP">Albi</p>
            <p class="myP">
            
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ratione facere animi impedit rem labore sint repellendus ipsa sapiente voluptatem aut excepturi quo itaque, ab earum cumque. Voluptatem beatae id inventore quod voluptate qui deserunt, quis placeat, tempora ex totam, dolore sequi harum eos voluptatibus animi labore officiis minus laboriosam
        </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script> -->




<!-- -------------------------------------------------------------------------------------------- -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner-image-container">
                <img class="d-block w-100 banner-image" src="assets/image/banner/image2.jpg" alt="First slide">
            </div>
            
            <div class="carousel-caption first-caption d-none d-md-block animate">
                <h5 class="animate-charcter">Fit for life</h5>
                <p class="banner-desc animate-desc">"A gym is a fitness facility equipped with exercise equipment and facilities for individuals to engage in physical workouts and improve their overall health and fitness."</p>
                    <!-- <h3 class="animate-charcter"> EKOSH</h3> -->
            </div>
        </div>
        <div class="carousel-item">
            <div class="banner-image-container">
                <img class="d-block w-100 banner-image" src="assets/image/banner/image1.jpg" alt="First slide">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Gym Gear and Equipment</h5>
                <p class="banner-desc">We provide quality products and excercise with special care to to anybody who want to reach their full potential</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="banner-image-container">
                <img class="d-block w-100 banner-image" src="assets/image/banner/image4.jpeg" alt="First slide">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Build Your Body</h5>
                <p class="banner-desc">Discover our state-of-the-art gym facilities and expert trainers to achieve your fitness goals.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="row">
                <div class="image-hover-animation col-6">
                    <img style="width: 100%; height: 55vh;" src="https://t4.ftcdn.net/jpg/04/04/01/05/360_F_404010593_ccchWeTb75SchX2YGrOeo9iHCxSZnKNF.jpg" alt="">
                </div>
                <div class="col-6 ">
                    <p class="heading"> <i class="fa-solid fa-face-smile text-danger"></i> Gym Membership</p>
                    <p class="desc   ml-4">A Gym Membership offers an all-encompassing fitness experience designed to cater to your holistic well-being. With our Gym Membership, you gain access to a vast array of services, both online and in-person. As a valued member, you'll enjoy a blend of convenient online services and the benefits of our physical gym.</p>
                    
                    <p class="heading "> <i class="fa-solid fa-star text-danger"></i> Fitness Membership</p>
                    <p class="desc  ml-4">
                        The Fitness Membership is tailored to those seeking comprehensive wellness resources without the need for access to a physical gym. It's your passport to a healthier lifestyle, offering a wealth of online services to support your fitness journey.
                    </p>
                    <a routerLink="/signup" class="button-btn button-hover rounded-lg ml-4">Get membership today</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-10">
            <div class="row image-hover-animation justify-content-center text-center">
                <div class="col-10  shadow-lg">
                    <p class="heading whyus">Why To Choose Us</p>
                    <p class="desc ml-4">"Choose us for your fitness journey because we are committed to your success. At our gym, we offer a unique blend of state-of-the-art equipment, expert trainers, and a supportive community that will empower you to achieve your fitness goals. Our personalized training programs, diverse classes, and modern facilities cater to individuals of all fitness levels. We prioritize your well-being, safety, and health, ensuring a comfortable and motivating environment for your workouts. Join us to experience the difference and embark on a path to a healthier, fitter, and more confident you."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-6 ">
                    <p class="heading outproducts"> OUR PRODUCTS</p>
                    <p class="desc ml-4">Explore our extensive selection of premium gym products designed to elevate your fitness regimen. Our range includes top-quality workout equipment, apparel, and supplements to enhance your performance and support your fitness goals. From cutting-edge cardio machines and strength training gear to stylish activewear and nutritional supplements, we provide everything you need to optimize your workouts. Our products are chosen for their durability, effectiveness, and comfort, helping you reach your fitness aspirations with confidence. Elevate your fitness experience with our carefully curated gym products and take your training to the next level.</p>
                    <a routerLink="/product" class="button-btn button-hover rounded-lg ml-4">Visit our produts</a>

                </div>
                <div class="image-hover-animation col-6">
                    <img style="width: 100%; height: 55vh;" src="https://us.123rf.com/450wm/fabrikacrimea/fabrikacrimea2005/fabrikacrimea200502605/146271001-fitness-gym-equipment-on-color-background-close-up.jpg?ver=6" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-sm-10">
            <div class="row justify-content-center text-center">
                <div class="col-10  shadow-lg">
                    <p class="heading whyus">Join Us</p>
                    <p class="social-media-group ml-4">
                        <a href=""><i class="social-media-logo social-media-logos fb fa-brands fa-facebook-f"></i></a>

                        <a href=""><i class="social-media-logo"><img class="social-media-logos" src="assets/image/insta-logo.png" width="48px" alt=""></i></a>

                        <a href=""><i class="social-media-logo social-media-logos twitter fa-brands fa-twitter"></i></a>
                        <a href=""><i class="social-media-logo social-media-logos playstore fa-solid fa-play"></i></a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
