
<!-- ------------------------------------------ new ------------------------------------------------ -->
<div class="product-details-header">
    <div *ngIf="loader" class="row justify-content-center text-center">
        <div class="col-sm-12 mt-5">
            <span class="loader"></span>
        </div>
    </div>
    <div class="row justify-content-center text-white">
        <div class="col-sm-3 profile-card justify-content-center text-center" *ngIf="!loader">
            <img src="https://img.freepik.com/free-photo/half-profile-image-handsome-young-caucasian-man-with-good-skin-brown-eyes-black-stylish-hair-stubble-posing-isolated-against-blank-wall-looking-front-him-smiling_343059-4560.jpg"
                class="rounded-circle mt-3" width="200px" height="210px" alt="">
            <div class="justify-content-end mt-5 edit-btn">
                <a routerLink="/update"><i class="fa-solid fa-pen-to-square"></i> </a>
            </div>
            <div class="user-details">
                <div>{{profileDetails.name}}</div>
                <div>{{profileDetails.email}}</div>
                <div>{{profileDetails.phone_no}}</div>
            </div>
        </div>
    </div>
