

<div class="container-fluid dietPlans-main-content">
  <div class="row text-center justify-content-center">
    <div class="col-sm-6">
      <div class="empty-cart-section" *ngIf="cartEmpty">
        <div class="empty-cart">
          <span class="" style="font-size: 230px;"><i class="fa-brands fa-opencart"></i></span>
        </div>
        <div class="empty-cart-text">
          <span style="font-size: 20px; color: antiquewhite;">Your cart is currently empty</span> 
        </div>
        <div class="empty-cart-text">
          <button routerLink="/product" class="add-to-cart button-btn buy-now-button-btn mx-3 my-5">Buy now</button>
          <button type="button" style="font-size: 17px!important;" routerLink="/order-history" class="add-to-cart button-btn buy-now-button-btn mx-3 my-5">Order history</button>

        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <span class="loader" *ngIf="loader && !cartEmpty"></span>
  </div>

  <!-- show card orders -->
  <div class="row" *ngIf="!loader && !cartEmpty">
    <div class="col-sm-8 mt-5">
      <div class="row my-5 justify-content-center" >
        <div class="card my-2 mx-2" style="width: 15rem;" *ngFor="let items of allOrders; let i=index">
          <div class="image-hover-animation">
            <img class="card-img-top" width="100px" height="150px" src="{{items.product.image}}" alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-text text-truncate" style="font-size: 20px; font-weight: bold;">$ {{items.product.price}}</p>
            <div class="card-title" style="font-size: 16px; font-family: 'Courier New', Courier, monospace;">{{items.product.name}}</div>
            <div class="card-title text-truncate" style="font-size: 14px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{items.product.description}}</div>
            <button (click)="removeItem(items.id, items.product.price)" class="button-btn button-hover">Remove</button>
          </div>
        </div>
      </div>
    </div>

<!-- get address form -->
    <div class="col-sm-4">
      <form class="addressForm" #addressForm="ngForm">
        <button type="button" (click)="addAddressToUser()" class="btn btn-primary" [disabled]="!addressForm.valid">Checkout</button>
        <button type="button" routerLink="/order-history" class="btn btn-success ml-2">Order history</button>

        <div class="row mt-2">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Address line 1</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address line1" name="addline1" required [(ngModel)]="addressline1" ngModel>                
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">City</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City" name="city" required [(ngModel)]="city" ngModel>           
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">State</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="State" name="state" required [(ngModel)]="state" ngModel>           
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Country</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Country" name="country" required [(ngModel)]="country" ngModel>        
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Pincode</label>
              <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pincode" name="pincode" required [(ngModel)]="pincode" ngModel>           
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Toral Price : </label>
              <span style="font-size: 30px; font-family: 'Times New Roman', Times, serif; color:black; font-weight: bolder;"> $ {{totalPrice}} </span>       
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


