/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.diet-plan {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.diet-video {
    width: 40%;
    padding: 10px;
}

.diet-video video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.diet-info {
    width: 60%;
    padding: 10px;
}

h2 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

.header-title {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: 200px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
