<div class="footer-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 mt-3">
                Operating Hours: <br>
                Mon - Fri: 6:00 AM - 9:00 PM <br>
                Sat: 8:00 AM - 6:00 PM <br>
                Sun: Closed
            </div>
            <div class="col-sm-4 mt-3">
                Contact Information: <br>
                Address: 123 Fitness Street <br>
                Phone: (555) 123-4567 <br>
                Email: gymmanagement@gmail.com <br>
            </div>
            <div class="col-sm-4 mt-3">

                We may share your personal information with:
                Third-party service providers who help us provide services
               
                If you have any questions or concerns about this Privacy Policy, please contact us at gymmanagement@gmail.com

                
            </div>
            
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-sm-10">
                © 2023 Gym Management System. All Rights Reserved.
            </div>
        </div>
    </div>
</div>